
span {
    font-size: 25px;
    font-weight:bold;
}

div {
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
}

.box3 > span {
    position: relative;
    top: 20%;
}

.box2 > span {
    position: relative;
    top: 20%;
}

.box1 > span {
    position: relative;
    top: 20%;
}

.box3 {
    text-align:center;
    border-radius: 0px 50px 50px 60px;
    border: 2px solid rgb(210, 210, 210);
    box-shadow: 5px 5px 10px rgb(226, 226, 226);
}

.box1 {
    text-align:center;
    background-color: #343F50;
    color: white;
    border-top: 2px solid #4A5568;
    border-left: 2px solid #4A5568;
    box-shadow: 0px 0px 0px 2px #000;
    box-sizing: border-box;
}

.box2 {
    background: linear-gradient(115deg, rgba(2,0,36,1) 0%, rgba(131,83,214,1) 0%, rgba(2,186,224,1) 100%, rgba(0,212,255,1) 100%);
    text-align: center;
    color: white;
    border-radius: 40px;
    box-sizing: content-box;
    outline: 3px dashed rgb(173, 153, 193);
}


