@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
    background-color: #FFFAF0;
}

h1,
h2,
h3,
p,
span,
strong,
a {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

input,
button {
    font: inherit;
    border: 0;
}

button {
    background: none;
}

button:enabled {
    cursor: pointer;
}



.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* --------------------------- */

.header {
    background-color: #fff
}

.max-width {
    width: 1440px;
    max-width: calc(100% - (108px * 2));
    margin: auto;
}

.header .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    height: 120px;
}

[class$='btn'] {
    display: inline-flex;
    height: 40px;
    padding: 0 20px 0 52px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 10px 50%;
    align-items: center;
}

.join-btn {
    background-image: url(../images/icon-join.svg);
}

.join-btn span {
    font-family: 'Pretendard-Bold';
    font-size: 14px;
    color: #5A6A72;
}

.main {
    margin-top: 71px;
}

.main-title {
    width: 250px;
    margin: auto;
    text-align: center;
}

.main-title strong {
    display: inline-block;
    font-family: 'Pretendard-Bold';
    color: #29363D;
    margin-top: 29px;
    font-size: 24px;
    box-shadow: inset 0 -0.5em 0 rgba(255, 79, 110, 0.2);
    border-bottom: 2px solid #ff4f6e;
}

.form {
    width: 392px;
    margin: 40px auto 50px;
}

.form label {
    display: block;
    font-size: 14px;
    color: #29363D;
}

.logo img{
    width: 250px;
}

.form input {
    width: 100%;
    height: 48px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #677880;
    border-radius: 4px 4px 0 0;
}

.form > div {
    margin-bottom: 24px;
}

.form button[type="submit"] {
    width: 100%;
    height: 48px;
    background-color: #29363d;
    border-radius: 4px;
    color: white;
}

.footer {
    margin-top : 52px;
    text-align: center;
    font-size: 12px;
    color: #677880;
}




