body,
h1,
h2,
p {
    margin: unset;
    padding: unset;
}

h1 {
    font-size: unset;
}

body {
    background-image: url(../images/image\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    width: 800px;
    margin: 100px auto;
}

.contents {
    width: 300px;
    margin: 0 auto;
    border-radius: 0 0 30px 30px;
    background-color: #9C6035;
    border-bottom: 10px solid #46260E;
}

.contents-text {
    color: white;
}

.contents-text .title {
    font-size: 36px;
    margin-bottom: 7px;
}

.header img {
    margin: 0 auto;
    display: block;
}

.contents-img > img {
    display: block;
    margin: 0 auto;
}

.contents .contents-text {
    padding: 10px 20px 40px 20px;
}

.des {
    color: #E8BC9C;;
}

